<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
  </head>
  <body>
    <h1>This is index.html</h1>

    <h2>This page is  visisted {{ inject_var }} times</h2>
    <h3>Click <a href="help.html">here</a> for help.</h3>

    <img src="{% static 'logo.jpg' %}" alt="Django Logo">
    <h4>

        {%  if name_2  %}
                Hello {{name_3}}
        {%  else %}
                Hello World
        {% endif %}

    </h4>

    <h4>
        {%for value in fruit.items%}
                <li>{{value}}</li>
        {%endfor%}
    </h4>
  </body>
</html>
